* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#webcam {
    display: none;
}

#gameCanvas {
    border: 2px solid #fff;
}